In [1]:
import pandas as pd
import numpy as np

In [2]:
ls results_sibyl_train

bot_16.csv  top_16.csv

In [26]:
ls results_a2t_mlm_word.8_n5_sst2/stats/

contextual_sentiment.csv  dep_.csv  morph.csv  pos_.csv

In [27]:
dir_pth = 'results_a2t_mlm_word.8_n5_sst2'
#dir_pth = './results_a2t_word.8_n5_sst2'

In [32]:
from IPython.display import display

In [28]:
ls results_sibyl/stats

contextual_sentiment.csv  morph.csv  transform.csv
dep_.csv                  pos_.csv   transform_label.csv

In [33]:
for feature in ['contextual_sentiment', 'dep_', 'morph', 'pos_']:
    df = pd.read_csv(dir_pth+f'/stats/{feature}.csv')
    display(df)

,transform,total_freq,label_ratio,impact_ratio,fail_num,pass_num,sus_score,misclassify_prob
0,"('replace', ('exclude',), ('neutral',))",65,0.092308,0.015385,4,2,55.035129,0.061538
1,"('replace', ('neutral',), ('neutral',))",589,0.091681,0.001698,26,28,40.608000,0.069610
2,"('replace', ('pos',), ('neutral',))",32,0.093750,0.031250,2,1,52.416357,0.031250
3,"('replace', ('neutral',), ('exclude',))",25,0.080000,0.040000,0,2,19.665272,0.040000
4,"('replace', ('exclude',), ('pos',))",2,1.000000,0.500000,1,1,42.342342,0.500000
...,...,...,...,...,...,...,...,...
58,"('replace', ('pos', 'pos'), ('pos', 'neutral'))",1,0.000000,1.000000,0,0,42.342342,0.000000
59,"('replace', ('pos', 'neutral'), ('pos', 'neutr...",2,0.000000,0.500000,0,0,42.342342,0.000000
60,"('replace', ('neutral', 'pos', 'exclude'), ('n...",1,0.000000,1.000000,0,0,42.342342,0.000000
61,"('replace', ('neg', 'neutral'), ('neutral', 'n...",1,0.000000,1.000000,0,0,42.342342,0.000000
62,"('replace', ('neutral', 'neutral', 'neg'), ('n...",1,0.000000,1.000000,0,0,42.342342,0.000000

,transform,total_freq,label_ratio,impact_ratio,fail_num,pass_num,sus_score,misclassify_prob
0,"('replace', ('advmod',), ('advmod',))",92,0.108696,0.010870,4,6,34.407028,0.086957
1,"('replace', ('ccomp',), ('acomp',))",1,1.000000,1.000000,0,1,26.857143,0.000000
2,"('replace', ('xcomp',), ('xcomp',))",10,0.100000,0.100000,0,1,26.857143,0.000000
3,"('replace', ('amod',), ('conj',))",1,1.000000,1.000000,0,1,26.857143,0.000000
4,"('replace', ('conj',), ('conj',))",51,0.058824,0.019608,2,1,52.416357,0.019608
...,...,...,...,...,...,...,...,...
171,"('replace', ('amod', 'amod', 'amod'), ('compou...",1,0.000000,1.000000,0,0,42.342342,0.000000
172,"('replace', ('advmod',), ('pcomp',))",1,0.000000,1.000000,0,0,42.342342,0.000000
173,"('replace', ('advmod', 'punct', 'amod'), ('adv...",1,0.000000,1.000000,0,0,42.342342,0.000000
174,"('replace', ('conj', 'punct', 'pcomp'), ('conj...",1,0.000000,1.000000,0,0,42.342342,0.000000
175,"('replace', ('nsubj', 'acl'), ('nsubj', 'acl'))",1,0.000000,1.000000,0,0,42.342342,0.000000

,transform,total_freq,label_ratio,impact_ratio,fail_num,pass_num,sus_score,misclassify_prob
0,"('replace', (,), (,))",106,0.122642,0.009434,6,7,39.120095,0.094340
1,"('replace', (Aspect=Perf|Tense=Past|VerbForm=P...",4,0.250000,0.250000,0,1,26.857143,0.000000
2,"('replace', (VerbForm=Inf,), (VerbForm=Inf,))",28,0.071429,0.035714,1,1,42.342342,0.035714
3,"('replace', (Degree=Pos,), (Degree=Pos,))",122,0.131148,0.008197,9,7,47.861507,0.122951
4,"('replace', (Number=Sing,), (Number=Sing,))",220,0.077273,0.004545,7,10,34.814815,0.040909
...,...,...,...,...,...,...,...,...
131,"('replace', (Number=Sing|Person=3|Tense=Pres|V...",1,0.000000,1.000000,0,0,42.342342,0.000000
132,"('replace', (Number=Plur,), (NumType=Card,))",1,0.000000,1.000000,0,0,42.342342,0.000000
133,"('replace', (Degree=Pos, Degree=Pos, Degree=Po...",1,0.000000,1.000000,0,0,42.342342,0.000000
134,"('replace', (Number=Sing|PronType=Ind, Aspect=...",1,0.000000,1.000000,0,0,42.342342,0.000000
135,"('replace', (Number=Sing,), (Degree=Cmp,))",1,0.000000,1.000000,0,0,42.342342,0.000000

,transform,total_freq,label_ratio,impact_ratio,fail_num,pass_num,sus_score,misclassify_prob
0,"('replace', ('ADV',), ('ADV',))",95,0.094737,0.010526,4,5,37.964459,0.073684
1,"('replace', ('VERB',), ('ADJ',))",7,0.142857,0.142857,0,1,26.857143,0.000000
2,"('replace', ('VERB',), ('VERB',))",177,0.129944,0.005650,13,10,48.311307,0.107345
3,"('replace', ('ADJ',), ('ADJ',))",130,0.123077,0.007692,9,7,47.861507,0.115385
4,"('replace', ('NOUN',), ('NOUN',))",351,0.068376,0.002849,14,10,50.035486,0.042735
...,...,...,...,...,...,...,...,...
87,"('replace', ('CCONJ',), ('ADV',))",1,1.000000,1.000000,1,0,59.493671,1.000000
88,"('replace', ('VERB', 'PROPN'), ('VERB', 'ADJ'))",1,0.000000,1.000000,0,0,42.342342,0.000000
89,"('replace', ('NOUN',), ('NUM',))",1,0.000000,1.000000,0,0,42.342342,0.000000
90,"('replace', ('ADJ', 'ADJ', 'ADJ'), ('NOUN',))",1,0.000000,1.000000,0,0,42.342342,0.000000
91,"('replace', ('PRON', 'VERB'), ('PRON', 'VERB'))",1,0.000000,1.000000,0,0,42.342342,0.000000

In [17]:
df = pd.read_csv('results_sibyl/stats/transform.csv')
df

,transform,total_freq,label_ratio,impact_ratio,fail_num,pass_num,sus_score
0,AddNegativeLink,33,1.0,1.000000,0,33,24.176381
1,AddNeutralEmoji,43,1.0,1.000000,7,36,70.095518
2,ChangeHypernym,70,1.0,1.000000,7,63,57.539204
3,TextMix,100,1.0,1.000000,7,93,47.987928
4,InsertPositivePhrase,50,1.0,1.000000,5,45,58.575522
5,RandomCharSwap,20,1.0,1.000000,0,20,34.047109
6,RemovePositiveEmoji,20,1.0,0.650000,0,20,34.047109
7,InsertPunctuationMarks,20,1.0,1.000000,0,20,34.047109
8,ChangeNumber,30,1.0,0.900000,3,27,60.764331
9,WordMix,30,1.0,1.000000,5,25,71.442836
10,AddPositiveEmoji,60,1.0,1.000000,3,57,42.780269
11,ChangeName,40,1.0,1.000000,3,37,53.296089
12,AddNegativeEmoji,50,1.0,1.000000,2,48,39.894062
13,ExpandContractions,40,1.0,1.000000,1,39,35.151069
14,ChangeAntonym,40,1.0,0.800000,11,29,81.260647
15,RandomSwap,30,1.0,0.966667,6,24,75.219644
16,RemoveNeutralEmoji,50,1.0,1.000000,2,48,39.894062
17,SentMix,70,1.0,1.000000,5,65,49.635796
18,WordDeletion,10,1.0,1.000000,2,8,78.325123
19,ChangeSynonym,20,1.0,1.000000,0,20,34.047109
20,ChangeLocation,10,1.0,1.000000,5,5,91.554702
21,InsertNegativePhrase,30,1.0,1.000000,6,24,75.219644
22,RemoveNegativeEmoji,28,1.0,0.607143,0,28,27.210496
23,Demojify,10,1.0,0.000000,0,10,49.635796
24,AddNegation,20,1.0,0.650000,1,19,52.017448
25,RandomInsertion,10,1.0,1.000000,0,10,49.635796
26,ImportLinkText,30,1.0,0.866667,5,25,71.442836
27,RandomCharDel,10,1.0,1.000000,0,10,49.635796
28,HomoglyphSwap,20,1.0,1.000000,0,20,34.047109
29,ChangeHyponym,18,1.0,0.944444,0,18,36.329018
30,RandomCharInsert,10,1.0,1.000000,0,10,49.635796
31,AddPositiveLink,10,1.0,1.000000,0,10,49.635796
32,ContractContractions,10,1.0,1.000000,2,8,78.325123

In [5]:
df = pd.read_csv('results_sibyl_train/top_16.csv', index_col=0)
df

,text,label
0,"a sweet , tender sermon about a 2-year-old wel...",[0. 1.]
1,"excruciatingly tedious , That , said, I could...",[0.41071429 0.58928571]
2,b'and resourceful hero fondness for fancy spl...,"[0.8359375, 0.1640625]"
3,"change watching such a character , https://ww...",[0.925 0.075]
4,the plot of the comeback curlers is n't very i...,[0.00502513 0.99497487]
...,...,...
9995,if the laborious pacing and endless exposition...,[0.62857143 0.37142857]
9996,"b""there 's something poignant about an artist ...","[0.35930735930735935, 0.6406926406926406]"
9997,"b'seen as hip , winking social commentary suf...","[0.4285714285714286, 0.5714285714285714]"
9998,b'entertainingly presented delightful comedy ',"[0.0, 1.0]"
9999,is awful . 🙅🏿,[1. 0.]

In [5]:
df = pd.read_csv('results_sibyl/log.csv', index_col=0)
df.rename(columns = {'oringal_label':'original_label', 
                     'transformed_text':'perturbed_text',
                    'transforms_applied': 'transform'}, inplace = True)

In [6]:
df

,original_text,original_label,perturbed_text,transformed_label,transform,human,notes,Unnamed: 8,Score,Description
0,hide new secretions from the parental units,0,hide new secretions from the parental units h...,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned,NaN,NaN,1.0,Fully Mismatched
1,"contains no wit , only labored gags",0,"contains no wit , only labored gags https://w...",[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned,NaN,NaN,2.0,Mostly Mismatched
2,that loves its characters and communicates som...,1,that loves its characters and communicates som...,[0.075 0.925],"['AddNegativeLink', 'AddNeutralEmoji']",Mostly Aligned,NaN,NaN,3.0,Could Go Either Way
3,remains utterly satisfied to remain the same t...,0,remains utterly satisfied to remain the same t...,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned,NaN,NaN,4.0,Mostly Aligned
4,on the worst revenge-of-the-nerds clichés the ...,0,on the worst revenge-of-the-nerds clichés the ...,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned,NaN,NaN,5.0,Fully Aligned
...,...,...,...,...,...,...,...,...,...,...
516,the package in which this fascinating -- and t...,0,the compiler in which this fascinating -- and ...,[0.75 0.25],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned,NaN,NaN,NaN,NaN
517,"this obscenely bad dark comedy , so crass",0,"this obscenely bad dark travesty , so crass",[0.75 0.25],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned,NaN,NaN,NaN,NaN
518,naomi watts is terrific as rachel ; her petite...,1,naomi watts is terrific as rachel ; her petite...,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned,NaN,NaN,NaN,NaN
519,and in the best way,1,and in the best portal,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned,NaN,NaN,NaN,NaN
520,of our most flamboyant female comics,1,of our most flamboyant female jester,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned,NaN,NaN,NaN,NaN

In [7]:
out_human_df = df[['original_text', 'perturbed_text', 'original_label', 'transformed_label', 'transform', 'human']]

In [8]:
out_human_df

,original_text,perturbed_text,original_label,transformed_label,transform,human
0,hide new secretions from the parental units,hide new secretions from the parental units h...,0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned
1,"contains no wit , only labored gags","contains no wit , only labored gags https://w...",0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned
2,that loves its characters and communicates som...,that loves its characters and communicates som...,1,[0.075 0.925],"['AddNegativeLink', 'AddNeutralEmoji']",Mostly Aligned
3,remains utterly satisfied to remain the same t...,remains utterly satisfied to remain the same t...,0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned
4,on the worst revenge-of-the-nerds clichés the ...,on the worst revenge-of-the-nerds clichés the ...,0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Fully Aligned
...,...,...,...,...,...,...
516,the package in which this fascinating -- and t...,the compiler in which this fascinating -- and ...,0,[0.75 0.25],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned
517,"this obscenely bad dark comedy , so crass","this obscenely bad dark travesty , so crass",0,[0.75 0.25],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned
518,naomi watts is terrific as rachel ; her petite...,naomi watts is terrific as rachel ; her petite...,1,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned
519,and in the best way,and in the best portal,1,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned
520,of our most flamboyant female comics,of our most flamboyant female jester,1,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Mostly Aligned

In [9]:
val_mapping = {
    "Fully Mismatched" : "Negative",
    "Mostly Mismatched" : "Negative",
    "Could Go Either Way" : "Negative",
    "Mostly Aligned" : "Positive",
    "Fully Aligned" : "Positive",
    np.nan: None
}
out_human_df['human'] = pd.Series(map(lambda x: val_mapping[x],
                                      out_human_df.human.values.tolist()), out_human_df.index)

/home/coraline/anaconda3/envs/dpml/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [10]:
out_human_df

,original_text,perturbed_text,original_label,transformed_label,transform,human
0,hide new secretions from the parental units,hide new secretions from the parental units h...,0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Positive
1,"contains no wit , only labored gags","contains no wit , only labored gags https://w...",0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Positive
2,that loves its characters and communicates som...,that loves its characters and communicates som...,1,[0.075 0.925],"['AddNegativeLink', 'AddNeutralEmoji']",Positive
3,remains utterly satisfied to remain the same t...,remains utterly satisfied to remain the same t...,0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Positive
4,on the worst revenge-of-the-nerds clichés the ...,on the worst revenge-of-the-nerds clichés the ...,0,[1. 0.],"['AddNegativeLink', 'AddNeutralEmoji']",Positive
...,...,...,...,...,...,...
516,the package in which this fascinating -- and t...,the compiler in which this fascinating -- and ...,0,[0.75 0.25],"['RemoveNegativeEmoji', 'ChangeHyponym']",Positive
517,"this obscenely bad dark comedy , so crass","this obscenely bad dark travesty , so crass",0,[0.75 0.25],"['RemoveNegativeEmoji', 'ChangeHyponym']",Positive
518,naomi watts is terrific as rachel ; her petite...,naomi watts is terrific as rachel ; her petite...,1,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Positive
519,and in the best way,and in the best portal,1,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Positive
520,of our most flamboyant female comics,of our most flamboyant female jester,1,[0.25 0.75],"['RemoveNegativeEmoji', 'ChangeHyponym']",Positive

In [11]:
out_human_df.to_csv('results_sibyl/out_human.csv', mode='w', index=False)

## Compare Reverted Text

In [17]:
import pandas as pd
import numpy as np

In [33]:
out_human_df=pd.read_csv('results_sibyl/out_human.csv')

In [34]:
out_human_df

,original_text,perturbed_text,original_label,transformed_label,transform,human
0,hide new secretions from the parental units,b'hide new process from the parental organizat...,0,"[1.0, 0.0]","['TextMix', 'ChangeHypernym']",Positive
1,"contains no wit , only labored gags","b""contains no somebody , only assay witticism ...",0,"[1.0, 0.0]","['TextMix', 'ChangeHypernym']",Positive
2,that loves its characters and communicates som...,b'that like its grownup and displace something...,1,"[0.45398773006134974, 0.5460122699386503]","['TextMix', 'ChangeHypernym']",Positive
3,remains utterly satisfied to remain the same t...,b'remains utterly satisfied to be the same thr...,0,"[1.0, 0.0]","['TextMix', 'ChangeHypernym']",Positive
4,on the worst revenge-of-the-nerds clichés the ...,b'on the worst revenge-of-the-nerds clich\xc3\...,0,"[1.0, 0.0]","['TextMix', 'ChangeHypernym']",Positive
...,...,...,...,...,...,...
495,worth a,worth a,1,[0.25 0.75],"['RemovePositiveEmoji', 'ChangeNumber']",Positive
496,", reality shows -- reality shows for god 's sa...",", reality shows -- reality shows for god 's sa...",0,[0.75 0.25],"['RemovePositiveEmoji', 'ChangeNumber']",Positive
497,"whatever the movie 's sentimental , hypocritic...","whatever the movie 's sentimental , hypocritic...",0,[0.75 0.25],"['RemovePositiveEmoji', 'ChangeNumber']",Positive
498,ll cry for your money back,ll cry for your money back,0,[0.75 0.25],"['RemovePositiveEmoji', 'ChangeNumber']",Positive
499,enthralling,enthralling,1,[0.25 0.75],"['RemovePositiveEmoji', 'ChangeNumber']",Positive

In [48]:
reverted_df = pd.read_csv('results_sibyl/reverted_text.csv')

In [49]:
reverted_df

                                         reverted_text  label
0          hide new secretions from the parental units      0
1                  contains no wit , only labored gags      0
2    that loves its characters and communicates som...      0
3    remains utterly satisfied to remain the same t...      0
4    on the worst revenge-of-the-nerds clichés the ...      0
..                                                 ...    ...
495                                            worth a      0
496  , reality shows -- reality shows for god 's sa...      0
497  whatever the movie 's sentimental , hypocritic...      0
498                         ll cry for your money back      0
499                                        enthralling      0

[500 rows x 2 columns]

In [42]:
np.sum(out_human_df['original_text'].values == reverted_df['reverted_text'].values)

407

In [38]:
len(out_human_df['original_text'].values)

500

In [44]:
revert_texts = reverted_df['reverted_text'].values.tolist()

In [43]:
import transformers

model = transformers.AutoModelForSequenceClassification.from_pretrained("textattack/bert-base-uncased-SST-2")
model.eval()
tokenizer = transformers.AutoTokenizer.from_pretrained("textattack/bert-base-uncased-SST-2", use_fast=True)

pipe = transformers.pipeline("sentiment-analysis", model=model, tokenizer=tokenizer, device=0)

2022-08-24 08:36:57.727414: I tensorflow/stream_executor/platform/default/dso_loader.cc:53] Successfully opened dynamic library libcudart.so.11.0

In [ ]:
new_results = pipeline(revert_texts)
self.new_results = list(map(label_map_func, new_results))

self.comp_result_indices = defaultdict(list)
for i, (old, new) in enumerate(zip(self.original_results, self.new_results)):
    self.comp_result_indices[(old, new)].append(self.original_indices[i])

comp_result_freqs = {}

for result_pair in self.comp_result_indices.keys():
    comp_result_freqs[result_pair] = len(self.comp_result_indices[result_pair])

    if result_pair[0] != result_pair[1] and no_result_changing:
        for id in self.comp_result_indices[result_pair]:
            self.revert_texts[id] = self.original_texts[id]

In [46]:
int(1)

1